 /* Estilos generales */
 body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0 15%;
    background: #27282C;
    color: white;
    display: flex;
}

#Description {
    margin: 50px 0;
    /* Ajusta según sea necesario */
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

#Description h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: 'Roboto';
    color: #00D2FF;
    transition: .4s;
    padding: 0px 0;
    margin: 0;
}

#Description p, #Description li {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.6em;
}

#Description li b{
    color: #ffffff;
}
#Description li {
    margin: 10px 0;
    opacity: 1;
    color: #76efff;
    font-weight: 300;
}


#Description img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 20px 10%;

}

.iframeContainer, .iframeVerticalContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 25px;
}

.iframeContainer{
    padding-top: 56.25%;   
    margin: 10px 0;
 
}

.iframeVerticalContainer{
    padding-top: 55.5%;
    width: 25%;
    background-color: black;
    margin: 0 37.5%;
}
.iframeContainer iframe, .iframeVerticalContainer iframe{
    position: absolute;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    border: none;
    border-radius: 25px;
    background-color: white;
}

footer {
    background-color: #333439;
    width: 100%;
    padding: 10px 0;
    color: #00A6CA;
    font-weight: 500;
    font-family: 'Roboto Mono';
    font-size: large;
    text-align: center;
 }