 /* Estilos generales */
 body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0 18%;
    background: #27282C;
    color: white;
    display: flex;
}

#Description {
    margin: 50px 0;
    /* Ajusta según sea necesario */
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

#Description h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: 'Roboto';
    color: #00D2FF;
    transition: .4s;
    padding: 0px 0;
    margin: 0;
}

#Description h1:hover {
    white-space: 10px;
    text-indent: 2px;
    transition: .2s;
    letter-spacing: 2px;
    text-shadow: #00d0ff7a 1px 1px 05px;

}

#Description p, #Description li {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #ebfdff;
    margin: 0;
    padding: 0;
    line-height: 1.6em;
}

#Description ul{
    background-color: rgba(0, 0 ,0 , 0.15);
    padding: 20px 20px 20px 80px;
    border-radius: 20px;
}

#Description ul ul{
    background-color: #27282C;
    padding: 10px 10px 10px 40px;
    border-radius: 20px;
    margin: 10px 5px 5px 0px;
}

#Description ul ul li b{
    color: #a8f2ff;
}

#Description li b{
    color: #ffffff;
}
#Description li {
    margin: 10px 0;
    opacity: 1;
    color: #28e6ff;
    font-weight: 300;
    transition: .3s;
    
}

#Description li:hover{
    transform: translate(10px, 0);
    transition: .2s;
}

#Description img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 20px 10%;
    transition: .3s;
}

#Description img:hover{
    transform: scale(1.025);
    transition: .2s;
    border-radius: 30px;
    box-shadow: #00A6CA 0px 0px 15px -5px;
}

.iframeContainer, .iframeVerticalContainer {
    position: relative;
    overflow: hidden;
    width: 80%;
    border-radius: 25px;
}

.iframeContainer{
    padding-top: 45%;   
    margin: 10px 10%;
}

.iframeVerticalContainer{
    padding-top: 55.5%;
    width: 25%;
    background-color: black;
    margin: 0 37.5%;
}
.iframeContainer iframe, .iframeVerticalContainer iframe{
    position: absolute;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    border: none;
    border-radius: 25px;
    background-color: white;
}
footer {
    background-color: #333439;
    width: 100%;
    padding: 10px 0;
    color: #00A6CA;
    font-weight: 500;
    font-family: 'Roboto Mono';
    font-size: large;
    text-align: center;
    margin-top: auto; /* Asegura que el footer esté al final */
    display: block;
    clear: both; /* Asegura que el footer no flote */
}

