 /* Estilos generales */
 body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0 15%;
    background: #27282C;
    color: white;
    display: flex;
}

#Menu {
    align-self: center;
    color: white;
    padding: 2px 70px;
    text-align: center;
    border-radius: 0 0 80px 80px;
    height: 60px;
    margin: auto;
    top: 0;
    left: 50%;
    /* Centra el elemento horizontalmente */
    transform: translateX(-50%);
    /* Ajusta la posición para centrar */
    width: auto;
    align-items: center;
    position: fixed;
    display: flex;
    border: solid 1px #ffffff0e;
    backdrop-filter: blur(10px);
    z-index: 1000;
    background-color: rgba(46, 47, 56, 0.85);
}

nav {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
    flex-wrap: wrap;
}

nav ul {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
    padding: 0;
}

nav li {
    list-style: none;
    margin: 0 auto;
    border-radius: 25px;
    padding: 10px;
    transition: .4s;
}

nav li::before {
    content: "";
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 18px;
    transition: .2s ease-out;
    transform: scale(.8);
}

nav li:hover::before {
    background-color: rgba(0, 0, 0, 0.20);
    transition: .1s ease-in;
    transform: scale(1);
}

nav li a {
    color: #03BCE4;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 500;
    padding: 10px 20px;
}

nav li:hover a {
    filter: drop-shadow(0 0 5px #03bbe4);
    transition: .3s;
}

#Description {
    margin: 100px 0;
    /* Ajusta según sea necesario */
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
}

#Description h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: 'Roboto';
    color: #00D2FF;
    transition: .4s;
    padding: 0px 0;
    margin: 0;
}

#Description p, #Description li {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto';
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height: 1.6em;
}
#Description li {
    margin: 10px 0;
    opacity: 1;
    color: #76efff;
    font-weight: 300;
}


#Description img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    margin: 20px 10%;

}

.iframeContainer, .iframeVerticalContainer {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 25px;
}

.iframeContainer{
    padding-top: 56.25%;   
    margin: 10px 0;
 
}

.iframeVerticalContainer{
    padding-top: 55.5%;
    width: 25%;
    background-color: black;
    margin: 0 37.5%;
}
.iframeContainer iframe, .iframeVerticalContainer iframe{
    position: absolute;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    border: none;
    border-radius: 25px;
    background-color: white;
}

footer {
    background-color: #333439;
    width: 100%;
    padding: 10px 0;
    color: #00A6CA;
    font-weight: 500;
    font-family: 'Roboto Mono';
    font-size: large;
    text-align: center;
    position: fixed;
    bottom: 0;
}